RewriteEngine On
<Files ".env, .htaccess, Dockerfile, docker-compose.yml, apache-config.conf">
    Require all denied
</Files>
RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !-d
RewriteRule ^(.*)$ index.php [QSA,L]